.searchBar {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.input {
  background-color: transparent;
  border: none;
  color: #bcdff3;
  font-size: 1.5rem;
  font-weight: 300;
  width: 20rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: transparent 80px;
}

.button {
  border: solid 2px transparent;
  border-radius: 999px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #053652;
  box-shadow: #053652;
}

.button:hover {
  background-color: rgb(23, 92, 153);
}

.city {
  font-size: larger;
}
